<ion-content color = "dark">
	<h1>Independência do Brasil</h1>
	<div class="header">
		<div class="img-box">
			
		</div>
	</div><br>
	<div class="content">
		Independência do Brasil foi declarada em 7 de setembro de 1822, quando aconteceu o Grito do Ipiranga. O Brasil transformou-se em uma monarquia governada por D. Pedro I.
		A independência do Brasil foi o processo histórico de separação entre Brasil e Portugal que se deu em 7 de setembro de 1822. Por meio da independência, o Brasil deixou de ser uma colônia portuguesa e passou a ser uma nação independente. Com esse evento, o país organizou-se como uma monarquia que tinha d. Pedro I como imperador.
	</div>
</ion-content>
