<ion-content color = "dark">
	<h1>Fundação de São Paulo</h1>
	<div class="header">
		<div class="img-box">
			
		</div>
	</div><br>
	<div class="content">
		A cidade de São Paulo foi fundada em 25 de janeiro de 1554, quando foi rezada a primeira missa no Pateo do Collegio pela Companhia de Jesus. Os principais representantes foram Manoel da Nóbrega, José de Anchieta e Manoel de Paiva. Os jesuítas, com o objetivo de catequizar e transmitir ensinamentos aos colonos, criaram o sítio do Colégio de São Paulo de Piratininga.
	</div>
</ion-content>
