<ion-content color = "dark">
	<h1>Visita do Papa Bento XVI</h1>
	<div class="header">
		<div class="img-box">
			
		</div>
	</div><br>
	<div class="content">
		A visita do Papa Bento XVI ao Brasil começou em 9 de maio de 2007 e se encerrou no dia 13. Seu objetivo principal foi dar início à Quinta Conferência Geral do Episcopado Latino-americano e Caribenho que ocorreu de 13 a 31 de maio de 2007, no Santuário de Aparecida no Vale do Paraíba, estado de São Paulo.
		O Papa iniciou sua visita pela cidade de São Paulo, hospedando-se no Mosteiro de São Bento. No dia 10 de maio, Bento XVI teve um encontro privado com o presidente Luís Inácio Lula da Silva no Palácio dos Bandeirantes onde colocou o carimbo no selo comemorativo de sua visita a São Paulo.
	</div>
</ion-content>
