<ion-content color = "dark">
  <div class="background-home"></div>
  <div class="overlay"></div>
  <div class="container">
    <h1>Bem vindo ao aplicativo da Capsule Dev</h1>
    <div class="div1">
      Aqui você fará uma viagem no tempo pelos eventos históricos que aconteceram na sua cidade desde a sua fundação, para isso clique no botão abaixo e espere o GPS carregar seus dados de localização
    </div>
    <div class="div2">
      <ion-button (click)="presentLoading()">
        <label>Localizar</label>
      </ion-button>
    </div>
  </div>
</ion-content>
