ion-content{
	--padding-start: 5%;
	--padding-end: 5%;
	--padding-top: 5%;

	span{
		color: #51dfff;
	}
	
	.card-evento{
		display: flex;
		background-color: gray;/*orange*/
		width: 100%;
		height: 20%;/*< 80 > 70*/
		//padding: 1%;
		border-radius: 8px;/*10px*/
		border-color: #51dfff;
		border-style: solid;
		border-width: 1px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: none;
		color: #51dfff;
	}

	.img-box{
	  background-image: url(../../assets/img/fundacao.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
	}

	.img-box2{
	  background-image: url(../../assets/img/independencia.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
	}

	.img-box3{
	  background-image: url(../../assets/img/visitapapa.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
	}

	.overlay{
		position: absolute;
		background-color: rgba(0, 0, 0, 0.5);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
	}

	.title{
		display: flex;
	 	justify-content: center;
	  	align-items: center;
		position: absolute;
		color: white;
		font-size: 5vw;
		z-index: 5;
		width: 100%;
		height: 100%;
	}

	.descricao{
		width: 70%;
		height: 40%;
		//background-color: pink;

		.half{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 50%;
		}
	}
}